Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
anthropic==0.34.2
requests==2.32.3
cloudinary==1.40.0
celery==5.4.0
redis==5.0.7
gunicorn==22.0.0
dj-database-url==2.2.0
